<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://gitee.com/x5w/xjw_work/raw/master/vue.js"></script>
<script src="https://gitee.com/x5w/xjw_work/raw/master/vue-resource.min.js"></script>
</head>
<script>
window.onload = function () {
	new Vue({
		el:'#list',
		data:{
			list:{},
		},
		methods:{
			getlist:function()
			{
				console.log(this.keyword)
				this.$http.post("orderList.do").then(function(obj){
					console.log(obj)
					this.list=obj.body.data
				})
			},
			update:function(oid,stuts)
			{
				this.$http.get("updateStuts.do?oid="+oid+"&stuts="+stuts).then(function(obj)
						{
							if(obj==null)
								{
									alert("下架成功")
								}
							else{
								alert("上架成功")
							}
							this.getlist();
						})
			},
			add:function()
			{
				location.href="add.html";
			}
			
		},
		created:function()
		{
			this.getlist();
		}
	})
}
</script>
<body>
<div id="list">
	<table>
		<tr>
			<td>
				<input type="button" value="添加" @click="add()">
			</td>
		</tr>
		<tr>
			<td>课程编号</td>
			<td>课程名称</td>
			<td>课程类别</td>
			<td>课时</td>
			<td>讲课老师</td>
			<td>开课日期</td>
			<td>状态</td>
			<td>操作</td>
		</tr>
		<tr v-for="pojo in list">
			<td>{{pojo.number}}</td>
			<td>{{pojo.name}}</td>
			<td>{{pojo.type}}</td>
			<td>
				{{pojo.time}}
			</td>
			<td>{{pojo.pople}}</td>
			<td>{{pojo.date}}</td>
			<td v-if="pojo.stuts==0">未发布</td>
			<td v-if="pojo.stuts==1">已发布</td>
			<td v-if="pojo.stuts==0">
				<button @click="update(pojo.oid,0)">上架</button>
			</td>
			<td v-if="pojo.stuts==1">
				<button @click="update(pojo.oid,1)">下架</button>
			</td>
			<td>
			</td>
		</tr>
		<tr>
		<!-- <td colspan="12">
		<input type="button" @click="getlist(1,3)" value="首页">
		<input type="button" @click="getlist(page-1,3)" value="上一页">
		<input type="button" @click="getlist(page+1,3)" value="下一页">
		</td> -->
		</tr>
	</table>
	
</div>
</body>
</html>